{% load static %}
<!DOCTYPE html>
<html class="no-js ss-preload" lang="en">
<head>

    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>{{ intro.title }}</title>
    <meta name="description" content="{{ intro.subtitle }}">
    <meta name="author" content="Luther">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">

</head>

<body id="top">

    <!-- Preloader -->
    <div id="preloader">
        <div id="loader"></div>
    </div>

    <!-- Page Wrap -->
    <div class="s-pagewrap">

        <div class="circles">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>

        <!-- Site Header -->
        <header class="s-header">

            <div class="header-mobile">
                <span class="mobile-home-link"><a href="{% url 'home' %}">{{ intro.title }}</a></span>
                <a class="mobile-menu-toggle" href="#0"><span>Menu</span></a>
            </div>

            <div class="row wide main-nav-wrap">
                <nav class="column lg-12 main-nav">
                    <ul>
                        <li><a href="{% url 'home' %}" class="home-link">{{ intro.title }}</a></li>
                        <li class="current"><a href="#intro" class="smoothscroll">Intro</a></li>
                        <li><a href="#about" class="smoothscroll">About</a></li>
                        <li><a href="#works" class="smoothscroll">Works</a></li>
                        <li><a href="#say-hello" class="smoothscroll">Contact Me</a></li> <!-- Updated Navigation Link -->
                    </ul>
                </nav>
            </div>

        </header> <!-- end s-header -->

        <!-- Main Content -->
        <main class="s-content">

            <!-- Intro Section -->
            <section id="intro" class="s-intro target-section">

                <div class="row intro-content wide">

                    <div class="column">
                        <div class="text-pretitle with-line">
                            {{ intro.subtitle }}
                        </div>

                        <h1 class="text-huge-title">
                            {{ intro.content|linebreaksbr }}
                        </h1>
                    </div>

                    <ul class="intro-social">
                        {% if site_settings.instagram_link %}
                            <li><a href="{{ site_settings.instagram_link }}" target="_blank">Instagram</a></li>
                        {% endif %}
                        {% if site_settings.linkedin_link %}
                            <li><a href="{{ site_settings.linkedin_link }}" target="_blank">LinkedIn</a></li>
                        {% endif %}
                        {% if site_settings.x_link %}
                            <li><a href="{{ site_settings.x_link }}" target="_blank">X</a></li>
                        {% endif %}
                        {% if site_settings.whatsapp_link %}
                            <li><a href="{{ site_settings.whatsapp_link }}" target="_blank">WhatsApp</a></li>
                        {% endif %}
                        {% if site_settings.telegram_link %}
                            <li><a href="{{ site_settings.telegram_link }}" target="_blank">Telegram</a></li>
                        {% endif %}
                    </ul>

                </div> <!-- end intro content -->

                {% if site_settings.first_image %}
                    <div class="intro-image">
                        <img src="{{ site_settings.first_image.url }}" 
                             srcset="{{ site_settings.first_image.url }} 1x, {{ site_settings.first_image_2x.url }} 2x" 
                             alt="{{ site_settings.first_image_alt|default:'About Image' }}" 
                             class="about-info__pic" 
                             data-animate-el
                             loading="lazy"
                        >
                    </div>
                {% endif %}

                <a href="#about" class="intro-scrolldown smoothscroll">
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                        <path d="M11 21.883l-6.235-7.527-.765.644 7.521 9 7.479-9-.764-.645-6.236 7.529v-21.884h-1v21.883z"/>
                    </svg>
                </a>

            </section> <!-- end s-intro -->

            <!-- About Section -->
            <section id="about" class="s-about target-section">

                <div class="row about-info wide" data-animate-block>
                    {% if site_settings.first_image %}
                        <div class="column lg-6 md-12 about-info__pic-block">
                            <img 
                                src="{{ site_settings.first_image.url }}" 
                                srcset="{{ site_settings.first_image.url }} 1x, {{ site_settings.first_image_2x.url }} 2x" 
                                alt="{{ site_settings.first_image_alt|default:'About Image' }}" 
                                class="about-info__pic" 
                                data-animate-el
                                loading="lazy"
                            >
                        </div>
                    {% endif %}
                    <div class="column lg-6 md-12">
                        <div class="about-info__text">

                            <h2 class="text-pretitle with-line" data-animate-el>
                                {{ about.title|default:"About Me" }}
                            </h2>
                            <p class="attention-getter" data-animate-el>
                                {{ about.content|linebreaksbr|default:"No content available." }}
                            </p>
                            {% if site_settings.cv_file %}
                                <a href="{{ site_settings.cv_file.url }}" class="btn btn--medium u-fullwidth" download data-animate-el>Download CV</a>
                            {% endif %}

                        </div>
                    </div>
                </div> <!-- about-info -->

            </section> <!-- end s-about -->

            <!-- Expertise Section -->
            <section id="expertise" class="s-expertise target-section">

                <div class="row expertise-content wide" data-animate-block>
                    <div class="column lg-12">

                        <h2 class="text-pretitle" data-animate-el>Expertise</h2>

                        <ul class="skills-list h1" data-animate-el>
                            {% for skill in expertise %}
                                <li>{{ skill.name }}</li>
                            {% endfor %}
                        </ul>

                    </div>
                </div> <!-- end expertise-content -->

            </section> <!-- end s-expertise -->

            <!-- Experience and Education Sections -->
            <section id="timelines" class="s-timelines target-section">

                <div class="row about-timelines" data-animate-block>

                    <div class="column lg-6 tab-12">

                        <h2 class="text-pretitle" data-animate-el>
                            Experience
                        </h2>

                        <div class="timeline" data-animate-el>

                            {% for entry in experience %}
                                <div class="timeline__block">
                                    <div class="timeline__bullet"></div>
                                    <div class="timeline__header">
                                        <h4 class="timeline__title">{{ entry.title }}</h4>
                                        <h5 class="timeline__meta">{{ entry.role }}</h5>
                                        <p class="timeline__timeframe">{{ entry.timeframe }}</p>
                                    </div>
                                    <div class="timeline__desc">
                                        <p>{{ entry.description }}</p>
                                    </div>
                                </div>
                            {% endfor %}

                        </div> <!-- end timeline -->

                    </div> <!-- end column -->

                    <div class="column lg-6 tab-12">

                        <h2 class="text-pretitle" data-animate-el>
                            Education
                        </h2>

                        <div class="timeline" data-animate-el>

                            {% for entry in education %}
                                <div class="timeline__block">
                                    <div class="timeline__bullet"></div>
                                    <div class="timeline__header">
                                        <h4 class="timeline__title">{{ entry.title }}</h4>
                                        <h5 class="timeline__meta">{{ entry.role }}</h5>
                                        <p class="timeline__timeframe">{{ entry.timeframe }}</p>
                                    </div>
                                    <div class="timeline__desc">
                                        <p>{{ entry.description }}</p>
                                    </div>
                                </div>
                            {% endfor %}

                        </div> <!-- end timeline -->

                    </div> <!-- end column -->

                </div> <!-- end about-timelines -->

            </section> <!-- end s-timelines -->

            <!-- Works (Portfolio) Section -->
            <section id="works" class="s-works target-section">

                <div class="row works-portfolio">

                    <div class="column lg-12" data-animate-block>
                        {% if site_settings.recent_work_title %}
                            <h2 class="text-pretitle" data-animate-el>
                                {{ site_settings.recent_work_title }}
                            </h2>
                        {% else %}
                            <h2 class="text-pretitle" data-animate-el>
                                Recent Works
                            </h2>
                        {% endif %}
                        {% if site_settings.recent_work_text %}
                            <p class="h1" data-animate-el>
                                {{ site_settings.recent_work_text }}
                            </p>
                        {% else %}
                            <p class="h1" data-animate-el>
                                Here are some of my favorite projects I have done lately. Feel free to check them out.
                            </p>
                        {% endif %}

                        <ul class="folio-list row block-lg-one-half block-stack-on-1000">

                            {% for item in portfolio %}
                                <li class="folio-list__item column" data-animate-el>
                                    <a class="folio-list__item-link" href="#modal-{{ forloop.counter }}">
                                        <div class="folio-list__item-pic">
                                            {% if item.image %}
                                                <img src="{{ item.image.url }}" alt="{{ item.title }}">
                                            {% else %}
                                                <img src="{% static 'images/portfolio/default.jpg' %}" alt="{{ item.title }}">
                                            {% endif %}
                                        </div>
                                        
                                        <div class="folio-list__item-text">
                                            <div class="folio-list__item-cat">
                                                {% if item.category == 'music_upload' %}
                                                    Music Upload
                                                {% elif item.category == 'music_link' %}
                                                    Music Link
                                                {% endif %}
                                            </div>
                                            <div class="folio-list__item-title">
                                                {{ item.title }}
                                            </div>
                                        </div>
                                    </a>
                                    <a class="folio-list__proj-link" href="#" title="project link">
                                        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path>
                                        </svg>
                                    </a>
                                </li> <!--end folio-list__item -->
                            {% empty %}
                                <li>No portfolio items available.</li>
                            {% endfor %}

                        </ul> <!-- end folio-list -->

                    </div> <!-- end column -->

                </div> <!-- end works-portfolio -->

                <!-- Modal Templates Popup -->
                {% for item in portfolio %}
                    <div id="modal-{{ forloop.counter }}" hidden>
                        <div class="modal-popup">
                            {% if item.image %}
                                <img src="{{ item.image.url }}" alt="{{ item.title }}">
                            {% endif %}
                            <div class="modal-popup__desc">
                                <h5>{{ item.title }}</h5>
                                <p>{{ item.description }}</p>
                                <ul class="modal-popup__cat">
                                    {% if item.category == 'music_upload' %}
                                        <li>Music Upload</li>
                                    {% elif item.category == 'music_link' %}
                                        <li>Music Link</li>
                                    {% endif %}
                                </ul>
                            </div>
                            {% if item.category == 'music_upload' and item.audio_file %}
                                <audio controls>
                                    <source src="{{ item.audio_file.url }}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio>
                            {% elif item.category == 'music_link' and item.audio_link %}
                                <a href="{{ item.audio_link }}" class="modal-popup__details" target="_blank">Listen Here</a>
                            {% endif %}
                            {% if item.project_link %}
                                <a href="{{ item.project_link }}" class="modal-popup__details" target="_blank">Project Link</a>
                            {% endif %}
                        </div>
                    </div> <!-- end modal -->
                {% endfor %}

            </section> <!-- end s-works -->

            <!-- Contact Me Section -->
            <section id="say-hello" class="s-say-hello target-section">

                <div class="row say-hello-content wide" data-animate-block>
                    <div class="column lg-12">
                        {% if site_settings.say_hi_title %}
                            <h2 class="text-pretitle" data-animate-el>
                                {{ site_settings.say_hi_title }}
                            </h2>
                        {% else %}
                            <h2 class="text-pretitle" data-animate-el>
                                Say Hello
                            </h2>
                        {% endif %}
                        {% if site_settings.say_hi_text %}
                            <p class="h1" data-animate-el>
                                {{ site_settings.say_hi_text }}
                            </p>
                        {% else %}
                            <p class="h1" data-animate-el>
                                I'm always open to discussing new projects, creative ideas, or opportunities to be part of your visions.
                            </p>
                        {% endif %}

                        <div class="say-hello-contact" data-animate-el>
                            {% if site_settings.contact_email %}
                                <a href="mailto:{{ site_settings.contact_email }}" class="mailtoui">{{ site_settings.contact_email }}</a>
                            {% else %}
                                <p>Email not provided.</p>
                            {% endif %}
                        </div>

                    </div>
                </div> <!-- end say-hello-content -->

            </section> <!-- end s-say-hello -->

            <!-- Footer -->
            <footer class="s-footer">

                <div class="row">
                    <div class="column ss-copyright">
                        <span>© Copyright Luther 2021</span> 
                        <span>Design by <a href="https://www.styleshout.com/" target="_blank">StyleShout</a> Distribution By <a href="https://themewagon.com" target="_blank">Themewagon</a></span>
                    </div>

                    <div class="ss-go-top">
                        <a class="smoothscroll" title="Back to Top" href="#top">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill-rule="evenodd" clip-rule="evenodd">
                                <path d="M11 2.206l-6.235 7.527-.765-.645 7.521 9 7.479-9-.764-.645-6.236 7.529v-21.884h-1v21.883z"/>
                            </svg>
                        </a>
                    </div>
                </div>

            </footer> <!-- end s-footer -->

        </div> <!-- end -s-pagewrap -->

        <!-- Java Script -->
        <script src="{% static 'js/plugins.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>

    </body>
</html>
